<%-  include ('../layouts/header.ejs') -%>
<div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/home" class="brand-wrap">
                <img src="/static/assets/imgs/theme/logo1.png" class="logo" alt="Admin Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    
                </li>
                
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Category</span>
                    </a>
                   
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/brand"> <i class="icon material-icons md-star"></i>
                        <span class="text">Brand</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Banner</span>
                    </a>
                </li>
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                </li> -->
                <li class="menu-item">
                    <a class="menu-link" href="/admin/userManage"> <i class="icon material-icons md-person "></i>
                        <span class="text">Customers</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/logout"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
            <ul class="menu-aside">
                <li class="menu-item  ">
                    <a class="menu-link" href="/admin/salesReport"> <i class="icon material-icons md-store "></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
             <div class="col-search">
               <!-- <form class="searchform" role="search"  method="post">
                    <div class="input-group"> -->
                        <!-- <input list="search_terms" type="text" class="form-control" placeholder="Search ...."> -->
                        <!-- <input type="text" placeholder="Search...." name="search" class="form-control" id="search">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                </form>-->
            </div> 
            <div class="btn-toolbar mb-2 mb-md 0">
                <a href="/admin/home" class="btn btn-primary" style="margin-right: 6px;">Home</a>
                <!-- <a href="/admin/new-user" class="btn btn-primary" style="margin-right: 6px;">+ New User</a> -->
                <a href="/admin/logout" class="btn btn-primary" >Logout</a>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/static/assets/imgs/people/avatar2.png" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Coupon Detail</h2>
                </div>
                </div>
                <div class="card">
                <header class="card-header">
                <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                <span>
                <i class="material-icons md-calendar_today"></i><br>
                </span> <br>
                <small class="text-muted font-xxl mb-4">Coupon Code: <span class="text-success"><%= coupon.code %></span></small><br><br>
                <small class="text-muted mt-5">Coupon Status: </small><b class="">
                <% if (coupon.is_listed == true) { %>
                <span class="badge badge-pill badge-soft-success">Listed</span>
    
                <% } else { %>
                <span class="badge badge-pill badge-soft-danger">Unlisted</span>
                <% } %>
                <br>
            
                </div>                
                    <script>
                        function saveCouponStatus() {
                            const dropdown = document.getElementById("orderStatusDropdown");
                            const selectedStatus = dropdown.options[dropdown.selectedIndex].value;
                    
                            // Redirect to the selected route
                            window.location.href = `/admin/couponStatus?orderId=<%= coupon._id.toString()%>&status=${selectedStatus}&orderDetails=true`;
                        }
                    </script>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body doPdf">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <div class="text">
                                    <h6 class="mb-1">Customer info</h6>
                                    <small class="text-muted mt-5">Total Customers: </small><b class=""> 
                                        <%= coupon.usersUsed.length %>
                                    </b>
                                </div>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Coupon info</h6>
                                <small class="text-muted mt-5">Coupon Discount: </small><b class=""> 
                                    <%= coupon.discount %>%
                                </b>
                                <small class="text-muted mt-5">Coupon Expiry: </small><b class=""><%= new Date(coupon.expiry).toLocaleDateString() %></b>
                            </div>
                        </article>
                    </div> <!-- col// -->
                
                </div> <!-- row // -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="40%">User Name</th>
                                        <th width="20%">email</th>
                                        <th width="20%">Mobile</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% users.forEach(function(user) { %>
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                   
                                                    <div class="info"><%= user.name.slice(0, 50) + '...'  %></div>
                                                </a>
                                            </td>
                                            <td><%= user.email %></td>
                                            <td><%= user.mobile %></td>
                                        </tr>
                                    <% }); %>
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- table-responsive// -->
                    </div> <!-- col// -->
                    <div class="col-lg-1"></div>
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
    </section> <!-- content-main end// -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <script>
        document.getElementById("pdfButton").addEventListener("click", function () {
            const salesContainer = document.querySelector(".doPdf");
            const pdfOptions = {
                filename: 'CouponDetails.pdf',
                image: { type: 'jpeg', quality: 1.0 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
            };
            html2pdf().from(salesContainer).set(pdfOptions).save();
    });
    </script>


<%-  include ('../layouts/adminFooter.ejs') -%>
