<%-  include ('../layouts/header.ejs') -%>

    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/home" class="brand-wrap">
                <img src="/static/assets/imgs/theme/logo1.png" class="logo" alt="Admin Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    
                </li>
                
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Category</span>
                    </a>
                   
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/brand"> <i class="icon material-icons md-star"></i>
                        <span class="text">Brand</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Banner</span>
                    </a>
                </li>
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                </li> -->
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/userManage"> <i class="icon material-icons md-person "></i>
                        <span class="text">Customers</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/logout"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/salesReport"> <i class="icon material-icons md-store"></i>
                        <span class="text"> Sales Report</span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form  class="searchform" role="search" >
                    <div class="input-group">
                        <input type="text" id="searchInput" class="form-control" placeholder="Search for users...">
                    </div>
                </form>
            </div>
            <div class="btn-toolbar mb-2 mb-md 0">
                <a href="/admin/home" class="btn btn-primary" style="margin-right: 6px;">Home</a>
                <a href="/admin/logout" class="btn btn-primary" >Logout</a>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/static/assets/imgs/people/avatar2.png" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">User Mangement</h2>
                    <!-- <p>Whole data about your business here</p> -->
                </div>
            </div> 
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap mb-0" id="datatablesSimple">
                                <thead class="table-light">
                                    <tr>
                                        <!-- <th class="align-middle" scope="col">Profile</th> -->
                                        <th class="align-middle" scope="col">User Name</th>
                                        <th class="align-middle" scope="col">Status</th>
                                        <th class="align-middle" scope="col">Email</th>
                                        <th class="align-middle" scope="col">Mobile</th>
                                        <th class="align-middle" scope="col">Block</th>
                                    </tr>
                                </thead>    
                                    <% if (users && users.length > 0) { %>
                                <tbody>
                                    <% users.forEach( user => { if(user.is_admin != 1 ){%>
                                        <tr>
                                            <!-- <td>
                                                <div class="mt-2">
                                                    <img src="/static/assets/userImages/<%= user.image[0] %>" alt="<%= user.image[0] %>" style="width: 50px; height: 50px;">                                              
                                                </div>
                                            </td> -->
                                            <td>
                                                <div class="ms-2 mt-2 d-flex align-items-center">
                                                        <%= user.name %>                                            
                                                </div>     
                                            </td>
                                            <td>
                                                <div class="d-flex mt-2 justify-content-left">
                                                <% if( user.is_blocked == 0) { %>
                                                    <div class="rounded-3 w-50 text-center bg-success text-white mx-2">Active</div>
                                                <% } 
                                                else { %>
                                                    <div class="rounded-3 w-50 text-center bg-danger text-white mx-2">Blocked</div>
                                                <% } %>
                                                </div>
                                            </td>
                                            
                                            <td>
                                                <div class="mt-2">
                                                    <%= user.email %>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mt-2">
                                                    <%= user.mobile %>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex flex-row justify-content-left gap-1"> 
                                                    <a onclick="Unlistandlist('<%= user.id %>', `<%=  user.is_blocked ? 'unlist' : 'list' %>`)" type="button" class="p-2 btn <%= user.is_blocked==0 ? 'btn-danger' : 'btn-success' %>">
                                                        <span class="d-flex align-items-center material-symbols-outlined"><%= user.is_blocked == 0 ? 'Block' : 'Unblock' %></span>
                                                    </a>                              
                                                </div>
                                            </td>
                                        </tr>
                                    <%} }); %>
                                </tbody>
                                <% } else { %>
                                    <p>No users available.</p>
                                <% } %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <% if (currentPage > 1) { %>
                            <li class="page-item">
                              <a class="page-link" href="?page=<%= currentPage - 1 %>"><</a>
                            </li>
                          <% } %>
                      
                          <% for (let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                              <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                            </li>
                          <% } %>
                      
                          <% if (currentPage < totalPages) { %>
                            <li class="page-item">
                              <a class="page-link" href="?page=<%= currentPage + 1 %>">></a>
                            </li>
                          <% } %>
                    </ul>
                </nav>
            </div>
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, PERFUME SHOP .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main> 

    <script>
        document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById("searchInput");
        const table = document.getElementById("datatablesSimple");
        const rows = table.getElementsByTagName("tr");

        searchInput.addEventListener("keyup", function () {
            const searchText = searchInput.value.toLowerCase();

            for (let i = 1; i < rows.length; i++) {
                const rowData = rows[i].textContent.toLowerCase();
                if (rowData.includes(searchText)) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        });
    });
        function Unlistandlist(userId, action) {
            console.log('userId:',userId)
            console.log('Action:',action)
                let titleText, confirmText, successText, url;
                
                if (action === 'list') {
                    titleText = "Are you sure?";
                    confirmText = "Please confirm to block this user!";
                    successText = "User has been blocked";
                    buttonText = "Yes!"
                } else if (action === 'unlist') {
                    titleText = "Are you sure?";
                    confirmText = "Please confirm to unblock this user!";
                    successText = "User has been unblocked";
                    buttonText = "Yes!"
                }

                Swal.fire({
                    title: titleText,
                    text: confirmText,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: buttonText,
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Perform the listing or unlisting via AJAX/fetch to the server
                        fetch(`/admin/block-unblock_user?id=${userId}&action=${action}`, {
                            method: 'GET',
                            // Add other necessary headers or configurations
                        }).then(response => {
                            if (response.ok) {
                                // Success message
                                Swal.fire({
                                    title: "Success",
                                    text: successText,
                                    icon: "success",
                                    timer: 2000,
                                    timeProgressBar: true,
                                    showConfirmButton: false,
                                }).then(() => {
                                    // Redirect after displaying the success message
                                    window.location.reload(); // Redirect to a suitable page
                                });
                            } else {
                                Swal.fire("Error!", "Failed to perform the action", "error");
                            }
                        }).catch(error => {
                            Swal.fire("Error!", "Failed to perform the action", "error");
                        });
                    }
                });
            }
    </script>

<%-  include ('../layouts/adminFooter.ejs') -%>
