<%- include ('../layouts/head.ejs') -%>
<style>
    .product-image {
  display: center;
  width: 50%;
  margin-left: 60px;
  height: auto;
}
</style>
    <div class="page-wrapper">
       
        <main class="main">
            <div class="intro-slider-container mb-4">
                <div class="intro-slider owl-carousel owl-simple owl-nav-inside" data-toggle="owl" data-owl-options='{
                        "nav": false, 
                        "dots": true,
                        "responsive": {
                            "992": {
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>
                    <% for (let i = 0; i < banner.length; i++) { %>
                        <% if (banner[i].is_listed) { %>
                        <div class="intro-slide" style=" background-image :url('/static/admin-assets/imgs/banner/<%=banner[i].image%>')" background-size="cover">
                        <div class="container intro-content">
                            <h3 class="intro-subtitle text-primary"><%= banner[i].title%></h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title"><%= banner[i].description %></h1><!-- End .intro-title -->

                            <a href="/shop" class="btn btn-outline-primary-2">
                                <span style="color: #333333;">DISCOVER MORE</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->

                    <% }} %>
                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->

            <div class="container">
                <div class="toolbox toolbox-filter">
                    <div class="toolbox-left">
                        <a href="#" class="filter-toggler" onclick="toggleFilters()">Filters</a>

                    </div><!-- End .toolbox-left -->
                    <!-- <div class="toolbox-right">
                        <ul class="nav-filter product-filter">
                            <li class="active"><a href="#" data-filter="*">All</a></li>
                            <li><a href="#" data-filter=".furniture">Furniture</a></li>
                            <li><a href="#" data-filter=".lighting">Lighting</a></li>
                            <li><a href="#" data-filter=".accessories">Accessories</a></li>
                            <li><a href="#" data-filter=".sale">Sale</a></li>
                        </ul>
                    </div>End .toolbox-right -->
                </div><!-- End .filter-toolbox -->

                <div class="widget-filter-area" id="product-filter-area">
                    <a href="#" class="widget-filter-clear">Clean All</a>

                    <div class="filter-area-wrapper">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h3 class="widget-title">
                                        Category:
                                    </h3><!-- End .widget-title -->

                                    <div class="filter-items filter-items-count">
                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="cat-1">
                                                <label class="custom-control-label" for="cat-1">All</label>
                                            </div><!-- End .custom-checkbox -->
                                            <span class="item-count">24</span>
                                        </div><!-- End .filter-item -->

                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="cat-2">
                                                <label class="custom-control-label" for="cat-2">Eau de Parfum</label>
                                            </div><!-- End .custom-checkbox -->
                                            <span class="item-count">3</span>
                                        </div><!-- End .filter-item -->

                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="cat-3">
                                                <label class="custom-control-label" for="cat-3">Fragrance Oil</label>
                                            </div><!-- End .custom-checkbox -->
                                            <span class="item-count">2</span>
                                        </div><!-- End .filter-item -->

                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="cat-4">
                                                <label class="custom-control-label" for="cat-4">Body Mist</label>
                                            </div><!-- End .custom-checkbox -->
                                            <span class="item-count">4</span>
                                        </div><!-- End .filter-item -->

                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="cat-5">
                                                <label class="custom-control-label" for="cat-5">Gourmand</label>
                                            </div><!-- End .custom-checkbox -->
                                            <span class="item-count">2</span>
                                        </div><!-- End .filter-item -->
                                    </div><!-- End .filter-items -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h3 class="widget-title">
                                        Sort by:
                                    </h3><!-- End .widget-title -->

                                    <div class="filter-items">
                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="radio" class="custom-control-input" checked id="sort-1" name="sortby">
                                                <label class="custom-control-label" for="sort-1">Default</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .filter-item -->

                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="radio" class="custom-control-input" id="sort-2" name="sortby">
                                                <label class="custom-control-label" for="sort-2">Popularity</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .filter-item -->

                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="radio" class="custom-control-input" id="sort-3" name="sortby">
                                                <label class="custom-control-label" for="sort-3">Average Rating</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .filter-item -->

                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="radio" class="custom-control-input" id="sort-4" name="sortby">
                                                <label class="custom-control-label" for="sort-4">Bestsellers</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .filter-item -->

                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="radio" class="custom-control-input" id="sort-5" name="sortby">
                                                <label class="custom-control-label" for="sort-5">Price: Low to High</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .filter-item -->

                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="radio" class="custom-control-input" id="sort-6" name="sortby">
                                                <label class="custom-control-label" for="sort-6">Price: High to Low</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .filter-item -->
                                    </div><!-- End .filter-items -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h3 class="widget-title">
                                        BRANDS:
                                    </h3><!-- End .widget-title -->
                                  <div class="filter-items">
                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="brand-1" name="sortby">
                                            <label class="custom-control-label" for="brand-1">DIOR</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="brand-2" name="sortby">
                                            <label class="custom-control-label" for="brand-2">Gucci</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="brand-3" name="sortby">
                                            <label class="custom-control-label" for="brand-3">Police</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="brand-4" name="sortby">
                                            <label class="custom-control-label" for="brand-4">Burberry</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="brand-5" name="sortby">
                                            <label class="custom-control-label" for="brand-5">Prada</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->
                                 </div>
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h3 class="widget-title">
                                        Price:
                                    </h3><!-- End .widget-title -->

                                    <div class="filter-price">
                                        <div class="filter-price-text">
                                            Price Range:
                                            <span id="filter-price-range"></span>
                                        </div><!-- End .filter-price-text -->

                                        <div id="price-slider"></div><!-- End #price-slider -->
                                    </div><!-- End .filter-price -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .filter-area-wrapper -->
                </div><!-- End #product-filter-area.widget-filter-area -->
                
                <div class="products-container" data-layout="fitRows">
                    <div class="row">
                        <div class="row">
                            <% for (let i = 0; i < 8 && i < products.length; i++) { %>
                                <div class="product-item furniture col-6 col-md-4 col-lg-3">
                                    <div class="product product-4">
                                        <figure class="product-media">
                                            <a href="/product/?id=<%= products[i]._id %>">
                                                <img src="/static/admin-assets/imgs/product/<%= products[i].image[0] %>" alt="Product image" class="product-image">
                                            </a>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action -->
                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart" onclick="addCart('<%=products._id%>')"><span>add to cart</span><i class="icon-long-arrow-right"></i></a>
                                            </div><!-- End .product-action -->
                                            <% if(!user) { %>
                                                <!-- Show the signup button only for guest users -->
                                                <a href="/signup" class="btn btn-primary">Sign Up</a>
                                            <% } %>
                                        </figure><!-- End .product-media -->
                                        <div class="product-body text-center">
                                            <h3 class="product-title"><a href="/product"><%= products[i].name %></a></h3><!-- End .product-title -->
                                            <div class="product-price " style="margin-left: 115px;">
                                                ₹<%= products[i].price %>
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .product-item -->
                            <% } %>
                        </div><!-- End .row -->
                        
                    </div><!-- End .row -->
                    
                </div>
            </div>

            <div class="more-container text-center mt-0 mb-7">
                <a href="/shop" class="btn btn-outline-dark-3 btn-more"><span>more products</span><i class="la la-refresh"></i></a>
            </div><!-- End .more-container -->
            
        </main><!-- End .main -->

        <script>
            function addCart(id){
		$.ajax({
		type:'POST',
		url:`/cart?id=${id}`,
		success:function(response){
			console.log(response)
		},
		error:function(error){
			console.log(error)
		}
		})
	}

    function toggleFilters() {
        var filterArea = document.getElementById('product-filter-area');
        filterArea.classList.toggle('active');
    }
        </script>
        <%- include ('../layouts/footer.ejs') -%>
